@page
@model mission7.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! Your order will be sent to you ASAP!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>