@page "/admin"

@{
}

<!DOCTYPE html>

<html>
    <head>
        <title>Bookstore Project</title>
        <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
        <base href="/" />
    </head>

    <body>
        <component type="typeof(Routed)" render-mode="Server" />
        <script src="/_framework/blazor.server.js"></script>
    </body>
</html>